<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h3>单个复选框:选中为true</h3>
        <input type="checkbox" id="agreement" v-model="isAgree">
        <label for="agreement">{{isAgree}}</label>
        <h3>多个复选框</h3>
        <input type="checkbox" id="basketball" v-model="interests" value="篮球">
        <label for="basketball">篮球</label>

        <input type="checkbox" id="football" v-model="interests" value="足球">
        <label for="football">足球</label>

        <input type="checkbox" id="swim" v-model="interests" value="游泳">
        <label for="swim">游泳</label>
        <p>{{interests}}</p>
    </div>
    <script src=" ../node_modules/vue/dist/vue.js "></script>
    <script>
        const app = new Vue({
            el: "#app ",
            data: {
                isAgree: false,
                interests: []
            }
        });
    </script>
</body>

</html>